.app-header {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.app-header span.el-dropdown-link {
    color: var(--text-color);
}

.drop-item span {
    color: var(--text-color);
    font-weight: 500;
    font-size: 13.5px;
}

.drop-item span:hover {
    color: var(--primary-color);
}

.drop-item span.active {
    display: none;
}

.el-dropdown-menu__item:hover {
    background: transparent !important;
}

/* FOOTER  */
.menu-item {
    background-color: var(--faded-color);
    padding: 14px 25px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
}

.menu-item a {
    color: var(--dark-color);
}

.social-links  {
    margin-top:20px ;
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    justify-content: center;
    gap:20px   
}

.social-links a .fa{
    color: #6B7280;
    font-size: 20px;
}
